* {
  box-sizing: border-box;
}

html{
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
  margin: 0;
  font-family: system-ui;
}

#root{
  height: 100%;
  width: 100%;
}

#root > div {
  background: cornflowerblue;
  width: 100%;
  height: 100%;
}



#home {
  overflow: hidden;
  background: white;
  height: calc(100% - 42px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-header{
  height: 100%;

}

#loggedin-header {
  border-bottom: solid 1px black;
}

header form {
  width: 220px;
  margin: 0 5px;
}

#users-list {
  background: white;
  position: absolute;
  z-index: 1;
  width: 300px;
  max-height: 250px;
  overflow-y: auto;
  border: solid 1px black;
  border-radius: 3px;
  box-shadow: 0px 40px 101px 0px rgba(0, 0, 255, 0.2);
}

#users-list > div {
  display: flex;
  position: relative;
  margin: 0px 0px 0px;
  padding: 1px 5px;
  border-bottom: solid 1px black;
  align-items: center;
  justify-content: space-between;
}

#users-list div p {
  margin: 35px 0 1px;
  font-weight: 500;
}

#users-list div button {
  background: cornflowerblue;
  border: none;
  box-shadow: 0px 0px 7px 0px gray;
  color: white;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
}

#users-list div button:hover {
  box-shadow: 0px 0px 7px 0px black;
  color: gray;
}

header .nav-login {
  font-size: 75px;
  gap: 80px 0;
  margin: 0 50%;
  transform: translate(-50%, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

header .nav-login.active {
  transform: translate(-145%, 0px);
}

header .nav-loggedin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav li {
  list-style-type: none;
  margin: 10px 15px;
  cursor: pointer;
}

header nav li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.form-holder {
  position: relative;
  max-width: 360px;
  width: 100%;
  background: cornflowerblue;
  color: white;
  box-shadow: 0px 0px 7px 0px white;
  border-radius: 5px;
  border: solid 2px white;
  padding: 15px;
}

.form-holder h3 + h3 {
  position: absolute;
  top: 0px;
  right: 25px;
  cursor: pointer;
}

.form-holder a {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: white;
}

 .form-holder button,
 .form-holder button {
  background: white;
  color: cornflowerblue;
  width: 65px;
  border-radius: 10px;
  border: solid 2px cornflowerblue;
  box-shadow: 0px 0px 1px 1px white;
  cursor: pointer;
}

#search-button {
  background: inherit;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transform: translate(0px, 4px);
}

.users-search {
  width: 0px;
  visibility: hidden;
  transition: opacity 0.3s, width 0.5s, visibility 0.3s;
  opacity: 0;
}

.users-search.active {
  width: 180px;
  visibility: visible;
  opacity: 1;
}

#register form div {
  display: grid;
  position: relative;
  margin: 0 0 20px;
}

#register form div span {
  color: white;
  background: red;
  border-radius: 6px;
  padding: 2px 4px;
  position: absolute;
  width: 175px;
  left: 335px;
  top: 20px;
  font-family: system-ui;
  font-size: 14px;
}


#register form div span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -9px;
  border-bottom: 11px solid transparent;
  border-left: solid 12px transparent;
  border-top: solid 12px red;
}

.input.active {
  border-color: red;
}

#login,
#register {
  width: 300px;
  height: 100%;
  position: absolute;
  top: -100%;
  transform: translate(-10%, 0px);
  margin: 0 50%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register.active,
#login.active {
  top: 0px;
}

#login .form-holder {
  height: 320px;
  color: white;
  max-width: 300px;
  width: 100%;
}

#login form {
  display: flex;
  flex-direction: column;
}

#login h1 {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: red;
  bottom: 30px;
}

#login form input {
  margin-bottom: 25px;
}

#spinner-holder {
  position: fixed;
  background: rgba(255, 255, 255);
  width: 100%;
  height: 100%;
  top: 0;
}

#spinner {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0%, 100%);
}

#spinner div {
  position: absolute;
  content: "";
  width: 70%;
  display: block;
  height: 70%;
  border: solid 15px cornflowerblue;
  border-color: cornflowerblue transparent transparent transparent;
  border-radius: 50%;
  animation: animate 2s cubic-bezier(0.49, 0, 0.54, 1) infinite;
}

#spinner :nth-child(1) {
  animation-delay: -0.5s;
}
#spinner :nth-child(3) {
  animation-delay: -0s;
  rotate: 172deg;
  border: solid 20px white;
  border-color: white transparent transparent transparent;
  width: 73%;
  height: 73%;
}
#spinner :nth-child(2) {
  animation-delay: -0.7s;
  border: solid 15px cornflowerblue;
  border-color: cornflowerblue transparent transparent transparent;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#myChat {
  position: absolute;
  top: 42px;
  height: calc(100vh - 42px);
  width: 100%;
  border-bottom: solid 2px black;
}

#chat-with {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 9px;
  background: cornflowerblue;
  border-bottom: solid 2px black;
  height: 73px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-left: 18px;
}

#chat-with p + small {
  margin: 4px 10px 2px;
}

#chat-with #close {
  font-size: 22px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

#chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 250px);
  border: solid 1px black;
  bottom: 0px;
  right: 250px;
  align-items: flex-end;
  gap: 5px;
  height: 100%;
  background: white;
}

#chat textarea {
  width: calc(100% - 65px);
  height: 33px;
  resize: none;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: unset;
  font-size: 18px;
}

#chat textarea + button {
  width: 65px;
  height: 35px;
  position: absolute;
  bottom: 0;
  background: cornflowerblue;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: solid 1px black;
}

#messages-list {
  max-height: calc(100% - 117px);
  overflow: auto;
  width: 100%;
  padding: 0 10px;
}

#messages-list div p {
  width: fit-content;
  max-width: 45%;
  word-break: break-word;
  padding: 5px 7px;
  cursor: pointer;
}

#messages-list #sender p {
  background: powderblue;
  right: 0;
  margin: 2px 0 2px auto;
  position: relative;
  border-radius: 5px 0px 5px 5px;
}

#messages-list #sender small {
  right: 0;
  margin: 2px 0 2px auto;
  position: relative;
  width: fit-content;
}

.time {
  display: none;
}

.time.active {
  display: block;
}

#messages-list #sender p::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -6px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid powderblue;
  border-top: 10px solid transparent;
  display: inline-block;
  transform: rotate(315deg);
}

#messages-list #recipient p {
  margin: 2px 0 2px;
  background: lightgrey;
  position: relative;
  border-radius: 0px 5px 5px 5px;
}

#messages-list #recipient p::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -6px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid lightgrey;
  border-top: 10px solid transparent;
  display: inline-block;
  transform: rotate(45deg);
}

#friends-list {
  width: 250px;
  float: right;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  border: solid 1px black;
  background: white;
}

.friend {
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.friend.online {
  background: green;
}

#friends-list > div {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;
  cursor: pointer;
}

#friends-list h1 {
  background: cornflowerblue;
  margin: 0;
  padding: 35px 0px 7px 3px;
  height: 73px;
  font-size: 26px;
  border-bottom: solid 2px black;
  color: white;
}

#friends-list > div p {
  margin: 10px 0;
}

@media only screen and (max-width: 1000px) {
  header .nav-login {
    font-size: 50px;
    gap: 35px 0;
  }
  .input.active {
    z-index: 1;
}
  #register form div span {
    padding: 2px 4px 0;
    width: 100%;
    left: 0px;
    top: 37px;
    z-index: 0;
}
  
  #register form div span::after {
    display: none;
  }

  #login form button, #register form button {
    position: relative;
    top: 2px;
}
}

@media only screen and (max-width: 800px) {

#login-header {
  overflow: hidden;
}

#login, #register {
  transform: translate(-50%, 0px);
  width: 100%;
}

header .nav-login.active {
  transform: translate(-50%, 100vh);
}

header .nav-login {
  font-size: 30px;
  gap: 35px 0;
}

.form-holder {
  overflow: auto;
}

.form-holder a {
  float: right;
  position: inherit;
}
}

@media only screen and (max-width: 600px) {

  #chat-with {
    position: sticky;
    z-index: 1;
    top: 0;
  }

  #messages-list {
    height: calc(100% - 126px);
}

  #friends-list {
    width: 100%;
    z-index: 1;
  }
  #chat {
    width: 100%;
    height: calc(100% + 42px);
    right: 0;
    z-index: 2;
  }

  #loggedin-header {
    width: calc(200% - 0px);
  }
  header {
    display: flex;
    justify-content: flex-start;
    padding: 0 5px;
  }

  header form {
    width: auto;
    display: flex;
    margin: 0 5px 0 0;
    align-items: center;
    position: relative;
  }

  .users-search.active {
    width: calc(100vw - 42px);
  }

  header .nav-loggedin {
    margin-left: calc(100vw - 136px);
  }

  #users-list {
    top: 24px;
    width: calc(100% - 32px);
    z-index: 3;
  }
}

@media only screen and (max-width: 400px){
  #login .form-holder {
    height: 100%;
    width: 100%;
    max-width: none;
}
.form-holder{
  height: 100%;
  width: 100%;
  max-width: none;
}
}